<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        FakePinterest
    {% endblock %}</title>
</head>
{% block body %}
    <body>
    <h1>Fake Pinterest - Meu primeiro projeto</h1>

    <h2>linha separada por um espaço em branco</h2>
    {% block form %}
        <form method="post">
        {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.submit() }}

        </form>
    {% endblock %}
    </body>
{% endblock %}
</html>