{% extends "index.html"%}
{% block tittle %}
    Profile - {{user.username}}
{% endblock %}

<body>
{% include "navbar.html" %}


<h1>User Profile: {{user.username}}</h1>
{% block form %}
  {% if form %}
  <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ form.photo()}}
      {{ form.button_confirmation()}}
  </form>
  {% endif %}
{% endblock %}


{% block body %}
<h2>Imagens do Usuário</h2>
<ul>
  {% for photo in user.posts %}
    <li>
      <p>Nome da imagem: {{ photo.imagem }}</p>
      <img src="{{ url_for('static', filename='photos_posts/' ~ photo.imagem) }}"
           alt="Imagem"
           width="200">
    </li>
  {% endfor %}
</ul>
</body>
{% endblock %}

</html>